{{counter}}

<p> The current counter is at : {{counter}}</p>

<button (click)="incrementCounter()"> Click Me </button>

<button (click)="decrementCounter()"> Click Me to decrease </button>
<!-- When button is clicked it does something-->

<table>
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
  <tbody>
        <tr *ngFor="let name of names">
        <td>{{name}}</td>
        </tr> 
  </tbody>
</table>

<!-- use  ctrl + K + C == to comment out multiple row  -->
<!-- use  ctrl + K + U == to uncomment multiple row  -->
<!--   Form module is used so to use ngSubmit -->

<form (ngSubmit)="addName()">
    <label for="name">What is your name</label>
    <input name="name" id="name" [(ngModel)] ="newName">
    <button type="submit">Submit</button>
</form>